* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100%;
}

body {
  width: auto;
  min-height: auto;
  background-color: black;
}

h1 {
  font-size: 15rem;
  text-align: center;
  margin-top: -8rem;
  margin-bottom: -5rem;
  color: #f2ab91;
  font-style: oblique;
}

h3 {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 18px;
}

p {
  font-size: 2.8rem;
}

header {
  position: relative;
  height: 30rem;
  width: 100%;
  /* background-image: url("../landscape.jpg"); */
  background-size: cover;
}

footer {
  position: relative;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: -5rem;
  text-decoration: none;
}

.blob {
  width: 20rem;
  position: relative;
  z-index: 3;
}

.blob2 {
  margin-left: 89%;
  margin-top: -12rem;
}

.subtext {
  padding: 10px;
  border-style: double;
  border-color: #f2ab91;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  z-index: 1;
}

.page-selected {
  margin-left: 2rem;
  width: 4rem;
  height: 4rem;
  align-self: center;
  border-radius: 50%;
  background-color: transparent;
  border-color: #eff0f3;
}

.background {
  background-color: #fffffe;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #eff0f3;
  position: relative;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: -45rem;
  padding-bottom: 20rem;
  border-radius: 18px;
}

.container-elements {
  display: flex;
  gap: 8rem;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
}

.inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 5rem;
}

.input-name {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

.submit-buttons {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.button {
  padding: 2rem;
  border-radius: 5rem;
  border-color: #f2ab91;
  font-weight: 700;
}

.hidde {
  display: none;
}

.margin-bottom7 {
  margin-bottom: -7rem;
}

.button-lock {
  background-color: #f2ab91;
}

.buttons {
  display: flex;
  gap: 5rem;
}
